.main {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background: #f7f7fa;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  padding:  50px;
  padding-bottom: 20px;
  margin-top: 40px;
  position: relative;
  margin-top: 160px;
}

.dropzone{
    /* height: 200px; */
    border-color: #8b08ff;
    margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.button{
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg,   #8b08ff 0%, #d201ff 100%);
  border: none;
  /* padding: 20px; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 30px 0;
  cursor: pointer;
  height: 60px;
}

.info{
  padding-top: 30px;
  text-align: center;
  color:#777;
}

.filetype{
  color: #777;
}