.section {
  background-image: url('../../assets/bg_home.webp');
  /* background: radial-gradient(#e66465, #9198e5); */
  /* background: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%); */
  height: 100vh;
  width: 100vw !important;
  margin: 0;
  --container-size: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.left {
  text-align: center;
}
.heading {
  color: rgba(0, 0, 0, .8);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 136% */
}

.info {
  /* color: #e4e3e3; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.72px;
  margin: 20px auto;
  max-width: 541px;
  backdrop-filter: blur(10px);
  /* border: .5px dotted #fff ; */
  padding: 10px;
  border-radius: 20px;
  color: #494444;

  text-align: justify;
  text-justify: inter-word;
  border: 1px solid rgba(0,0,0, .2)
}

.btn {
  border-radius: 8px;
  /* background: #000; */
  height: 50px;
  width: 283px;

  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */

  background: linear-gradient(-45deg, #2d0291, #df0404, #e000ff);
  background-size: 400% 400%;
  animation: btngradient 5s ease infinite;
}

@keyframes btngradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradimg {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.grad1 {
  z-index: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.grad2 {
  z-index: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.grad3 {
  z-index: 0;
  position: absolute;
  top: auto;
  bottom: -40%;
  left: auto;
  right: 0%;
}
