.gradient {
  background: linear-gradient(90deg, #8b08ff 61.09%, #e000ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: linear-gradient(
    90deg,
    #5340e6,
    #a927c8 25%,
    #d314a7 50%,
    #ea2889 75%,
    #f34970
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* body{
  position: relative;
} */

body {
  height: auto;
  background-color: rgba(250, 250, 250, 1);
}
*{
  font-family: "Open Sans", sans-serif;

}
.tool {
  position: relative;
}

.exp{
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.25) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.25) 100%);
  background-color: #000;

}