.section {
  background-color: #f9f7f7;
  padding: 40px 20px;
  height: 60vh;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 68.571% */
  margin: 30px 10px 70px 10px;
  text-align: center;
}

.img {
  object-fit: contain;
  width: 80px;
}

.text {
  margin-top: 20px;
}

@media screen and (max-width: 630px) {
  .section{
    height: 85vh;
  }
}

@media screen and (max-width: 340px) {
  .section{
    height: 140vh;
  }
}